<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row">
    <div class="col-10">
        <div class="contenedor-teclado">
            <div class="row" style="padding: 15px;">
                <div class="col-6" style="cursor: pointer;display: flex;justify-content: flex-start;">
        
                    <img src="../../../assets/images/{{this.imagenMonedaBillete}}" alt="">
        
                </div>
                <div class="col-6" (click)="cerrarTeclado()" style="cursor: pointer;display: flex;justify-content: flex-end;">
                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M31.7188 0H3.28125C1.46973 0 0 1.63541 0 3.65116V30.4263C0 32.4421 1.46973 34.0775 3.28125 34.0775H31.7188C33.5303 34.0775 35 32.4421 35 30.4263V3.65116C35 1.63541 33.5303 0 31.7188 0ZM26.0039 22.0971C26.332 22.4622 26.332 23.0555 26.0039 23.4207L23.2354 26.5013C22.9072 26.8664 22.374 26.8664 22.0459 26.5013L17.5 21.3973L12.9541 26.5013C12.626 26.8664 12.0928 26.8664 11.7646 26.5013L8.99609 23.4207C8.66797 23.0555 8.66797 22.4622 8.99609 22.0971L13.583 17.0387L8.99609 11.9804C8.66797 11.6152 8.66797 11.0219 8.99609 10.6568L11.7646 7.57615C12.0928 7.21104 12.626 7.21104 12.9541 7.57615L17.5 12.6802L22.0459 7.57615C22.374 7.21104 22.9072 7.21104 23.2354 7.57615L26.0039 10.6568C26.332 11.0219 26.332 11.6152 26.0039 11.9804L21.417 17.0387L26.0039 22.0971Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
        
        
            <div style="display: flex;justify-content: center;">
                <span class="font-['Poppins-SemiBold'] textoDenominacion">Denominación: {{denominacion}} </span>
        
            </div>
            <div style="display: flex;justify-content: center;">
                Ingresar Cantidad
        
            </div>
        
            <div class="input">
                <input id="code" type="text" [(ngModel)]="inputValue" #inputDato class="text-center  mb-2 input-teclado" id="code">
            </div>
        
            <div style="display: flex;justify-content: center;">
        
                <div class="btn-group-vertical button-custom-width py-2" role="group" aria-label="Basic example" style="border-radius: 10px;">
                    <div class="btn-group" *ngFor="let item of this.pad_numerico">
                        <button *ngFor="let fila of item" type="button"
                            class="btn py-3 num-custom-width"
                            (click)="agregar(fila)">{{fila.lower_key}}</button>
                    </div>
        
                    <!--<div class="btn-group ">
                        <button type="button" class="btn btn-outline-secondary  py-3 num-custom-width"
                            style="border-bottom-left-radius:10px ;" (click)="quitar()">&lt;</button>
                        <button type="button" class="btn btn-outline-secondary py-3 num-custom-width"
                            (click)="agregar('0')">0&nbsp;</button>
                        <button type="button" class="btn btn-outline-secondary py-3 num-custom-width"
                            style="border-bottom-right-radius:10px ;" (click)="agregar('.')">&nbsp;.&nbsp;</button>
                    </div>-->

                    <div class="btn-group py-3">
                        <button type="button" class="btn btn-primary py-3 ok" [disabled]="this.inputValue == '' " style="color: white;">
                            <svg width="22" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_1946_23524" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                    width="22" height="30">
                                    <rect width="22" height="30" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_1946_23524)">
                                    <path
                                        d="M11.9375 22.5L4.8125 15.375L6.59375 13.5938L11.9375 18.9375L23.4063 7.46875L25.1875 9.25L11.9375 22.5Z"
                                        fill="white" />
                                </g>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-primary py-3 exit" (click)="limpiarInput()"> 
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_1974_24283)">
                                    <path
                                        d="M6.5 13.25L4.75 11.5L9.25 7L4.75 2.53125L6.5 0.78125L11 5.28125L15.4688 0.78125L17.2188 2.53125L12.7188 7L17.2188 11.5L15.4688 13.25L11 8.75L6.5 13.25Z"
                                        fill="white" />
                                </g>
                                <defs>
                                    <filter id="filter0_d_1974_24283" x="0.75" y="0.78125" width="20.4688" height="20.4688"
                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                        <feOffset dy="4" />
                                        <feGaussianBlur stdDeviation="2" />
                                        <feComposite in2="hardAlpha" operator="out" />
                                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                            result="effect1_dropShadow_1974_24283" />
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1974_24283"
                                            result="shape" />
                                    </filter>
                                </defs>
                            </svg>
                        </button>
        
                    </div>
                </div>
        
            </div>
        </div>
    </div>
    <div class="col-2 xl-col-2 lg-col-1" *ngIf="mostrarDirecciones">
        <div class="direccionales pt-4 ml-2">
            <div class="row">
              <div class="col py-5 h-60">
                <button (click)="direccion('atras')" 
                style="width: 50px;background-color: #337AB7;border-color: #337AB7;height:235px ;border-radius: 10px;">
                    <img src="../../../assets/images/arrow_circle_right.png" alt="" width="30px">
                
                </button>
              </div>
              
              <div class="col h-60">
                <button (click)="direccion('adelante')" 
                style="width: 50px; background-color: #337AB7;border-color: #337AB7;height: 235px;border-radius: 10px;">
                    <img src="../../../assets/images/arrow_circle_left.png" alt="" width="30px">
        
                </button>
              </div>
            </div>
          </div>
    </div>
</div>