<!--<div id="keyboardModal" class="hidden modal-bg transition-opacity duration-500 opacity-0 fixed w-full left-0 z-10 overflow-auto">
  <div class="fixed bottom-0 inset-x-0 bg-white border-t shadow-lg">
      <div class="simple-keyboard"></div>
  </div>
</div>-->

<div id="keyboardModal" class="hidden modal-bg transition-opacity duration-500 opacity-0 fixed w-full left-0 z-10 overflow-auto">
  <div class="fixed bottom-0 inset-x-0 bg-white border-t shadow-lg">


    <div class="fixed bottom-0 inset-x-0 bg-white border-t shadow-lg">
      <div class="simple-keyboard2 hg-theme-default myTheme1 hg-layout-default">
        <div class="hg-rows">
        
          <div class="hg-row">
            <div  class="hg-button hg-standardBtn" (click)="emitValorTeclado('q')" data-skbtn="q" data-skbtnuid="default-r1b1"><span>q</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('w')" data-skbtn="w" data-skbtnuid="default-r1b2"><span>w</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('e')" data-skbtn="e" data-skbtnuid="default-r1b3"><span>e</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('r')" data-skbtn="r" data-skbtnuid="default-r1b4"><span>r</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('t')" data-skbtn="t" data-skbtnuid="default-r1b5"><span>t</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('y')" data-skbtn="y" data-skbtnuid="default-r1b6"><span>y</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('u')" data-skbtn="u" data-skbtnuid="default-r1b7"><span>u</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('i')" data-skbtn="i" data-skbtnuid="default-r1b8"><span>i</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('o')" data-skbtn="o" data-skbtnuid="default-r1b9"><span>o</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('p')" data-skbtn="p" data-skbtnuid="default-r1b10"><span>p</span></div>
            <div class="hg-button hg-functionBtn hg-button-bksp w-1/12" (click)="emitValorTeclado('{bksp}')" data-skbtn="{bksp}" data-skbtnuid="default-r0b13">
              <span><img src="../../../assets/images/backSpaceIcon.png" alt=""></span></div>
          </div>
          <div class="hg-row">
            <div class="hg-button hg-standardBtn ml-20" (click)="emitValorTeclado('a')" data-skbtn="a" data-skbtnuid="default-r2b1"><span>a</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('s')" data-skbtn="s" data-skbtnuid="default-r2b2"><span>s</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('d')" data-skbtn="d" data-skbtnuid="default-r2b3"><span>d</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('f')" data-skbtn="f" data-skbtnuid="default-r2b4"><span>f</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('g')" data-skbtn="g" data-skbtnuid="default-r2b5"><span>g</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('h')" data-skbtn="h" data-skbtnuid="default-r2b6"><span>h</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('j')" data-skbtn="j" data-skbtnuid="default-r2b7"><span>j</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('k')" data-skbtn="k" data-skbtnuid="default-r2b8"><span>k</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('l')" data-skbtn="l" data-skbtnuid="default-r2b9"><span>l</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('')" data-skbtn="'" data-skbtnuid="default-r2b10"><span>""</span></div>
            <div class="hg-button hg-functionBtn hg-button-enter" (click)="emitValorTeclado('{enter}')" data-skbtn="{enter}" data-skbtnuid="default-r2b12">
              <span><img src="../../../assets/images/entericon.png" alt=""></span></div>
          </div>
          <div class="hg-row">
            <div class="hg-button hg-functionBtn hg-button-lock" (click)="emitValorTeclado('{shift}')" data-skbtn="{lock}" data-skbtnuid="default-r2b0"><span><img src="../../../assets/images/arrowShiftRight.png" alt=""></span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('z')" data-skbtn="z" data-skbtnuid="default-r3b1"><span>z</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('x')" data-skbtn="x" data-skbtnuid="default-r3b2"><span>x</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('c')" data-skbtn="c" data-skbtnuid="default-r3b3"><span>c</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('v')" data-skbtn="v" data-skbtnuid="default-r3b4"><span>v</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('b')" data-skbtn="b" data-skbtnuid="default-r3b5"><span>b</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('n')" data-skbtn="n" data-skbtnuid="default-r3b6"><span>n</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('m')" data-skbtn="m" data-skbtnuid="default-r3b7"><span>m</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado(',')" data-skbtn="," data-skbtnuid="default-r3b8"><span>,</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('.')" data-skbtn="." data-skbtnuid="default-r3b9"><span>.</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('?')" data-skbtn="?" data-skbtnuid="default-r3b10"><span>?</span></div>
            
              <div class="hg-button hg-functionBtn hg-button-lock" (click)="emitValorTeclado('{shift}')" data-skbtn="{lock}" data-skbtnuid="default-r2b0"><span><img src="../../../assets/images/arrowShiftRight.png" alt=""></span></div>
          </div>
          <div class="hg-row">
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('.com')" data-skbtn=".com" data-skbtnuid="default-r4b0"><span>.com</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('@')" data-skbtn="@" data-skbtnuid="default-r4b1"><span>@</span></div>
            <div class="hg-button hg-functionBtn hg-button-space w-1/2" (click)="emitValorTeclado('w')" data-skbtn="{space}" data-skbtnuid="default-r4b2"><span>
              </span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('')" data-skbtn="<" data-skbtnuid="shift-r4b2"><span>&lt;</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('')" data-skbtn=">" data-skbtnuid="shift-r4b3"><span>&gt;</span></div>
            <div class="hg-button hg-standardBtn" (click)="emitValorTeclado('')" data-skbtn="ENG" data-skbtnuid="default-r4b4"><span>ENG</span></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>