
    
    <div  id="modal"  class="modal">
        <div class=" p-6 w-full max-w-md max-h-full">
            <div class="bg-white rounded-lg shadow">
                <div class="p-4 md:p-5 text-center">
                   
                    <h3 class="mb-5 text-lg font-normal  dark:text-gray-400" style="color: black;"><b>{{title}}</b></h3>
                    
                    <div class="flex justify-center">
                    <img src="../../../assets/images/dinero-transferencia.jpg" alt="" width="100px" height="100px">
                </div><br>
                <h3 class="mb-5 text-lg font-normal  dark:text-gray-400" style="color: black;">{{description}}</h3>
                <h6 class="text-4xl p-1 mb-5 font-semibold">$4.05</h6>
                <button (click)="close()" type="button" class="text-white text-center flex justify-center bg-blue-500 hover:bg-blue-300 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-8 py-3 text-center" >
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
    
  