<!--<div id="keyboardModal" class="hidden modal-bg transition-opacity duration-500 opacity-0 fixed w-full left-0 z-10 overflow-auto">
  <div class="fixed bottom-0 inset-x-0 bg-white border-t shadow-lg">
      <div class="simple-keyboard"></div>
  </div>
</div>-->

<div id="keyboardModal" class="hidden modal-bg transition-opacity duration-500 opacity-0 fixed w-full left-0 z-10 overflow-auto">
  <div class="fixed bottom-0 inset-x-0 bg-white border-t shadow-lg text-2xl">


    <div class="fixed bottom-0 inset-x-0 bg-white border-t shadow-lg">
      <div class="simple-keyboard2 hg-theme-default myTheme1 hg-layout-default">
        <div class="hg-rows">
          <div class="hg-row" *ngFor="let filas of teclado">
            <div *ngFor="let tecla of filas" class="hg-button {{tecla.class}}" (click)="onKeyPress(tecla)" data-skbtn="q" data-skbtnuid="default-r1b1">
              <span><img *ngIf="tecla.icon != ''" src="{{rutaBaseIcon+tecla.icon}}" alt="">
                {{tecla.lower_key}}
              </span>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>